&tlmm {
	fpv6_switch_key_active: fpv6_switch_key_active {
		mux {
			pins = "gpio107";
			function = "gpio";
		};

		config {
			pins = "gpio107";
			bias-pull-up;
			drive-strength = <2>;
			input_enable;
		};
	};
};

&soc {
	gpio_keys {
		compatible = "gpio-keys";
		label = "fpv6_switch_key";
		pinctrl-names = "default";
		pinctrl-0 = <&fpv6_switch_key_active>;

		fpv6_switch {
			label = "fpv6_switch";
			gpios = <&tlmm 107 GPIO_ACTIVE_HIGH>;
			linux,input-type = <0x01>; /* EV_KEY */
			linux,code = <0xf>;
			gpio-key,wakeup;
			debounce-interval = <15>;
			linux,can-disable;
		};
	};
};
